[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/BlocksKit"]
	path = Vendor/BlocksKit
	url = https://github.com/zwaldowski/BlocksKit.git
[submodule "Vendor/MagicalRecord"]
	path = Vendor/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "Vendor/SVPullToRefresh"]
	path = Vendor/SVPullToRefresh
	url = https://github.com/samvermette/SVPullToRefresh.git
